[user]
	name = Yassine AZZOUT
	email = 92bondstreet@gmail.com

[alias]

	# Add, commit
	ac = "!git add -A && git commit -m"

	# Branches
	branch-name = "!git rev-parse --abbrev-ref HEAD"
	publish = "!git push -u origin $(git branch-name)"
	done = "branch -lvv"

	# discard all changes made (including removing untracked files)
	discardall = !git clean -df && git checkout .

	# Fetch/rebase
	fs = fetch source
	rsd = rebase source/devel
	rsm = rebase source/master

	# log
	l = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
	today = log --oneline --since='12 hour ago'

[color]

	ui = auto

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
