set nowrap
set smooth
set autoindent
set historylog
set morespace
set tabsize 2
set tabstospaces
set mouse
set const
unset backup

# Improve Nano Syntax Highlighting Files
# https://github.com/scopatz/nanorc/

# include "~/.nano/syntax/git.nanorc"
